[submodule "apps/cpoe_macos"]
	path = apps/cpoe_macos
	url = https://github.com/writerslogic/cpoe-macos.git
[submodule "apps/cpoe_windows"]
	path = apps/cpoe_windows
	url = https://github.com/writerslogic/cpoe-windows.git
[submodule "apps/cpoe_atlassian"]
	path = apps/cpoe_atlassian
	url = https://github.com/writerslogic/cpoe-atlassian.git
[submodule "apps/cpoe_google_workspace"]
	path = apps/cpoe_google_workspace
	url = https://github.com/writerslogic/cpoe-google-workspace.git
[submodule "apps/cpoe_hubspot"]
	path = apps/cpoe_hubspot
	url = https://github.com/writerslogic/cpoe-hubspot.git
[submodule "apps/cpoe_hubspot_legacy"]
	path = apps/cpoe_hubspot_legacy
	url = https://github.com/writerslogic/cpoe-hubspot-legacy.git
[submodule "apps/cpoe_office365"]
	path = apps/cpoe_office365
	url = https://github.com/writerslogic/cpoe-office365.git
[submodule "apps/cpoe_salesforce"]
	path = apps/cpoe_salesforce
	url = https://github.com/writerslogic/cpoe-salesforce.git
[submodule "apps/cpoe_servicenow"]
	path = apps/cpoe_servicenow
	url = https://github.com/writerslogic/cpoe-servicenow.git
