[submodule "apps/wld_macos"]
	path = apps/wld_macos
	url = https://github.com/writerslogic/wld-macos.git
[submodule "apps/wld_windows"]
	path = apps/wld_windows
	url = https://github.com/writerslogic/wld-windows.git
